pandas>=2.0.1
flipside>=2.0.7
pylcs==0.0.8
tsfresh>=0.20.1

pytest==7.2.1

scikit-learn==1.2.0
seaborn==0.12.2
jupyterlab==3.5.2
ipykernel==6.20.2
sphinx==6.1.3
furo==2022.12.7
python-dotenv==1.0.0
build>=0.10.0